body {
    background: url("../images/bg.jpg") 0 0 repeat;
}
.header {
    padding: 20px 0;
}
.logo {
    margin-right: 30px;
}
.add-event {
    border: 1px solid #ddd;
    border-radius: 10px;
}
.add-event, .alert {
    display: none;
    padding: 20px;
}

/*tab style*/
.tab-content {
    padding-top: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: bold;
    border: none !important;
    background: none !important;
}
.nav-tabs {
    border-bottom: none !important;
}
.nav-link {
    text-transform: uppercase;
    color: #222 !important;
    font-size: 18px;
}
